<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ease.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ease.description %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @ease.icon %>
</p>

<p>
  <strong>Image:</strong>
  <%= @ease.image %>
</p>

<p>
  <strong>Published:</strong>
  <%= @ease.published %>
</p>

<p>
  <strong>Heroclass:</strong>
  <%= @ease.heroclass %>
</p>

<%= link_to 'Edit', edit_ease_path(@ease) %> |
<%= link_to 'Back', eases_path %>
