<%- model_class = Recipe -%>
<div class="page-header">
  <h1><%=t '.title', :default => Recipe %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:ingredients) %></th>
      <th><%= model_class.human_attribute_name(:imagepath) %></th>
      <th><%= model_class.human_attribute_name(:imagecredit) %></th>
      <th><%= model_class.human_attribute_name(:yeild) %></th>
      <th><%= model_class.human_attribute_name(:preptime) %></th>
      <th><%= model_class.human_attribute_name(:cooktime) %></th>
      <th><%= model_class.human_attribute_name(:totaltime) %></th>
      <th><%= model_class.human_attribute_name(:rating) %></th>
      <th><%= model_class.human_attribute_name(:commentnumber) %></th>
      <th><%= model_class.human_attribute_name(:flikes) %></th>
      <th><%= model_class.human_attribute_name(:tlikes) %></th>
      <th><%= model_class.human_attribute_name(:plikes) %></th>
      <th><%= model_class.human_attribute_name(:slikes) %></th>
      <th><%= model_class.human_attribute_name(:glikes) %></th>
      <th><%= model_class.human_attribute_name(:pubdate) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:source) %></th>
      <th><%= model_class.human_attribute_name(:published) %></th>
      <th><%= model_class.human_attribute_name(:calories) %></th>
      <th><%= model_class.human_attribute_name(:caoriesfromfat) %></th>
      <th><%= model_class.human_attribute_name(:totalfat) %></th>
      <th><%= model_class.human_attribute_name(:totalfatper) %></th>
      <th><%= model_class.human_attribute_name(:saturatedfar) %></th>
      <th><%= model_class.human_attribute_name(:saturatedfatper) %></th>
      <th><%= model_class.human_attribute_name(:transfat) %></th>
      <th><%= model_class.human_attribute_name(:cholesterol) %></th>
      <th><%= model_class.human_attribute_name(:cholesterolper) %></th>
      <th><%= model_class.human_attribute_name(:sodium) %></th>
      <th><%= model_class.human_attribute_name(:sodiumper) %></th>
      <th><%= model_class.human_attribute_name(:carbs) %></th>
      <th><%= model_class.human_attribute_name(:carbsper) %></th>
      <th><%= model_class.human_attribute_name(:dietaryfiber) %></th>
      <th><%= model_class.human_attribute_name(:dietaryfiberper) %></th>
      <th><%= model_class.human_attribute_name(:sugars) %></th>
      <th><%= model_class.human_attribute_name(:protein) %></th>
      <th><%= model_class.human_attribute_name(:vitamina) %></th>
      <th><%= model_class.human_attribute_name(:vitaminc) %></th>
      <th><%= model_class.human_attribute_name(:calcium) %></th>
      <th><%= model_class.human_attribute_name(:iron) %></th>
      <th><%= model_class.human_attribute_name(:yumms) %></th>
      <th><%= model_class.human_attribute_name(:shares) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.id %></td>
        <td><%= recipe.title %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.image %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= recipe.imagepath %></td>
        <td><%= recipe.imagecredit %></td>
        <td><%= recipe.yeild %></td>
        <td><%= recipe.preptime %></td>
        <td><%= recipe.cooktime %></td>
        <td><%= recipe.totaltime %></td>
        <td><%= recipe.rating %></td>
        <td><%= recipe.commentnumber %></td>
        <td><%= recipe.flikes %></td>
        <td><%= recipe.tlikes %></td>
        <td><%= recipe.plikes %></td>
        <td><%= recipe.slikes %></td>
        <td><%= recipe.glikes %></td>
        <td><%= recipe.pubdate %></td>
        <td><%= recipe.author %></td>
        <td><%= recipe.source %></td>
        <td><%= recipe.published %></td>
        <td><%= recipe.calories %></td>
        <td><%= recipe.caoriesfromfat %></td>
        <td><%= recipe.totalfat %></td>
        <td><%= recipe.totalfatper %></td>
        <td><%= recipe.saturatedfar %></td>
        <td><%= recipe.saturatedfatper %></td>
        <td><%= recipe.transfat %></td>
        <td><%= recipe.cholesterol %></td>
        <td><%= recipe.cholesterolper %></td>
        <td><%= recipe.sodium %></td>
        <td><%= recipe.sodiumper %></td>
        <td><%= recipe.carbs %></td>
        <td><%= recipe.carbsper %></td>
        <td><%= recipe.dietaryfiber %></td>
        <td><%= recipe.dietaryfiberper %></td>
        <td><%= recipe.sugars %></td>
        <td><%= recipe.protein %></td>
        <td><%= recipe.vitamina %></td>
        <td><%= recipe.vitaminc %></td>
        <td><%= recipe.calcium %></td>
        <td><%= recipe.iron %></td>
        <td><%= recipe.yumms %></td>
        <td><%= recipe.shares %></td>
        <td><%=l recipe.created_at, format: :long %></td>
        <td>
          <%= link_to recipe_path(recipe), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to recipe_path(recipe), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_recipe_path,
            :class => 'btn btn-primary' %>
