<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @recipe.image %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Imagepath:</strong>
  <%= @recipe.imagepath %>
</p>

<p>
  <strong>Imagecredit:</strong>
  <%= @recipe.imagecredit %>
</p>

<p>
  <strong>Yeild:</strong>
  <%= @recipe.yeild %>
</p>

<p>
  <strong>Preptime:</strong>
  <%= @recipe.preptime %>
</p>

<p>
  <strong>Cooktime:</strong>
  <%= @recipe.cooktime %>
</p>

<p>
  <strong>Totaltime:</strong>
  <%= @recipe.totaltime %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @recipe.rating %>
</p>

<p>
  <strong>Commentnumber:</strong>
  <%= @recipe.commentnumber %>
</p>

<p>
  <strong>Flikes:</strong>
  <%= @recipe.flikes %>
</p>

<p>
  <strong>Tlikes:</strong>
  <%= @recipe.tlikes %>
</p>

<p>
  <strong>Plikes:</strong>
  <%= @recipe.plikes %>
</p>

<p>
  <strong>Slikes:</strong>
  <%= @recipe.slikes %>
</p>

<p>
  <strong>Glikes:</strong>
  <%= @recipe.glikes %>
</p>

<p>
  <strong>Pubdate:</strong>
  <%= @recipe.pubdate %>
</p>

<p>
  <strong>Author:</strong>
  <%= @recipe.author %>
</p>

<p>
  <strong>Source:</strong>
  <%= @recipe.source %>
</p>

<p>
  <strong>Published:</strong>
  <%= @recipe.published %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @recipe.calories %>
</p>

<p>
  <strong>Caoriesfromfat:</strong>
  <%= @recipe.caoriesfromfat %>
</p>

<p>
  <strong>Totalfat:</strong>
  <%= @recipe.totalfat %>
</p>

<p>
  <strong>Totalfatper:</strong>
  <%= @recipe.totalfatper %>
</p>

<p>
  <strong>Saturatedfar:</strong>
  <%= @recipe.saturatedfar %>
</p>

<p>
  <strong>Saturatedfatper:</strong>
  <%= @recipe.saturatedfatper %>
</p>

<p>
  <strong>Transfat:</strong>
  <%= @recipe.transfat %>
</p>

<p>
  <strong>Cholesterol:</strong>
  <%= @recipe.cholesterol %>
</p>

<p>
  <strong>Cholesterolper:</strong>
  <%= @recipe.cholesterolper %>
</p>

<p>
  <strong>Sodium:</strong>
  <%= @recipe.sodium %>
</p>

<p>
  <strong>Sodiumper:</strong>
  <%= @recipe.sodiumper %>
</p>

<p>
  <strong>Carbs:</strong>
  <%= @recipe.carbs %>
</p>

<p>
  <strong>Carbsper:</strong>
  <%= @recipe.carbsper %>
</p>

<p>
  <strong>Dietaryfiber:</strong>
  <%= @recipe.dietaryfiber %>
</p>

<p>
  <strong>Dietaryfiberper:</strong>
  <%= @recipe.dietaryfiberper %>
</p>

<p>
  <strong>Sugars:</strong>
  <%= @recipe.sugars %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @recipe.protein %>
</p>

<p>
  <strong>Vitamina:</strong>
  <%= @recipe.vitamina %>
</p>

<p>
  <strong>Vitaminc:</strong>
  <%= @recipe.vitaminc %>
</p>

<p>
  <strong>Calcium:</strong>
  <%= @recipe.calcium %>
</p>

<p>
  <strong>Iron:</strong>
  <%= @recipe.iron %>
</p>

<p>
  <strong>Yumms:</strong>
  <%= @recipe.yumms %>
</p>

<p>
  <strong>Shares:</strong>
  <%= @recipe.shares %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
